
// Center text
%centered {
  text-align: center;
}

// Top border
%t-border {
  border-top: 2px solid $color-border-light;
}

// Containers 
%content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
  @media #{$break-narrow} {
    width: 100%;
    padding: 20px;
    border-top: none;
  }
  @media #{$break-wide} {
    width: 90%;
  }
}

// Columns
%columns {
   width: 46.5%;
   @media #{$break-narrow} {
      float: none;
      width: 100%;
   }
}

// Clearfix 
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

